1. Memuat Data

In [41]:
import pandas as pd

2. Memeriksa Data

In [42]:
df = pd.read_csv('movie_sample_dataset.csv')
df.head() #Menampilkan 5 baris pertama

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [43]:
df.info() #Info struktur dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB

In [44]:
df.shape

(99, 13)

In [45]:
import numpy as np

# replace "?" menjadi NaN
df.replace(" ", np.nan, inplace = True)

# cek banyaknya missing value pada masing-masing kolom
print(df.isnull().sum())

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

3. Membersihkan Data

In [46]:
print(f"Jumlah baris sebelum menghapus NaN di 'gross' dan 'budget': {len(df)}")
df.dropna(subset=['gross', 'budget'], inplace=True)
print(f"Jumlah baris setelah menghapus NaN: {len(df)}")

Jumlah baris sebelum menghapus NaN di 'gross' dan 'budget': 99
Jumlah baris setelah menghapus NaN: 89

In [47]:
print("\nNilai unik di kolom 'color' sebelum dibersihkan:")
print(df['color'].unique())
df['color'] = df['color'].str.lower().str.strip()
print("Nilai unik di kolom 'color' setelah dibersihkan:")
print(df['color'].unique())

Nilai unik di kolom 'color' sebelum dibersihkan:
['Color' 'color ' nan ' Black and White']
Nilai unik di kolom 'color' setelah dibersihkan:
['color' nan 'black and white']

In [48]:
print(f"\nJumlah film dengan budget/gross negatif sebelum pembersihan: {(df['budget'] < 0).sum() | (df['gross'] < 0).sum()}")
df = df[(df['budget'] >= 0) & (df['gross'] >= 0)]
print(f"Jumlah baris setelah menghapus nilai budget/gross negatif: {len(df)}")
print("-" * 30)

Jumlah film dengan budget/gross negatif sebelum pembersihan: 0
Jumlah baris setelah menghapus nilai budget/gross negatif: 89
------------------------------

In [49]:
#Hapus nilai negatif
if 'duration' in df.columns:
    df = df[df['duration'] >= 0]
if 'imdb_score' in df.columns:
    df = df[df['imdb_score'] >= 0]

In [51]:
#PENAMBAHAN BARU: Mengatasi baris kosong di kolom 'color', 'director_name', dan 'genres' ---
print("\nMenangani nilai kosong pada kolom spesifik...")

# 1. Kolom 'color': Isi dengan modus (nilai yang paling sering muncul)
color_mode = df['color'].mode()[0]
df['color'].fillna(color_mode, inplace=True)
print(f"Nilai kosong di 'color' diisi dengan modus: '{color_mode}'")

# 2. Kolom 'director_name': Isi dengan 'unknown'
df['director_name'].fillna('unknown', inplace=True)
print("Nilai kosong di 'director_name' diisi dengan 'unknown'.")

# 3. Kolom 'genres': Isi dengan 'unknown'
df['genres'].fillna('unknown', inplace=True)
print("Nilai kosong di 'genres' diisi dengan 'unknown'.")

Menangani nilai kosong pada kolom spesifik...
Nilai kosong di 'color' diisi dengan modus: 'color'
Nilai kosong di 'director_name' diisi dengan 'unknown'.
Nilai kosong di 'genres' diisi dengan 'unknown'.

/tmp/ipython-input-3652651385.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['color'].fillna(color_mode, inplace=True)
/tmp/ipython-input-3652651385.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director_name'].fillna('unknown', inplace=True)
/tmp/ipython-input-3652651385.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genres'].fillna('unknown', inplace=True)

4. Transformasi Data

In [52]:
#Ubah tipe data budget dan gross ke numerik
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['gross'] = pd.to_numeric(df['gross'], errors='coerce')

In [53]:
#Normalisasi teks pada kolom bertipe object
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.lower()

In [54]:
#Pisahkan genre yang bergabung dalam satu kolom menjadi kolom terpisah
if 'genres' in df.columns:
    genre_split = df['genres'].str.split('|', expand=True)
    max_genre = genre_split.shape[1]
    genre_split.columns = [f'genres_{i+1}' for i in range(max_genre)]
    df_genre = pd.concat([df, genre_split], axis=1)

In [55]:
#Verifikasi hasil
print(df_genre)

    color      director_name  duration        gross  \
0   color    martin scorsese       240  116866727.0
1   color        shane black       195  408992272.0
2   color  quentin tarantino       187   54116191.0
3   color   kenneth lonergan       186      46495.0
4   color      peter jackson       186  258355354.0
..    ...                ...       ...          ...
93  color        tony gilroy       135  113165635.0
94  color      steve mcqueen       134   56667870.0
96  color    paul greengrass       134  107100855.0
97  color         david ayer       134   85707116.0
98  color     clint eastwood         5   47034272.0

                                  genres                          movie_title  \
0           biography|comedy|crime|drama              the wolf of wall street
1                action|adventure|sci-fi                           iron man 3
2   crime|drama|mystery|thriller|western                    the hateful eight
3                                  drama                             margaret
4                      adventure|fantasy  the hobbit: the desolation of smaug
..                                   ...                                  ...
93             action|adventure|thriller                    the bourne legacy
94               biography|drama|history                     12 years a slave
96              biography|drama|thriller                     captain phillips
97                      action|drama|war                                 fury
98         biography|drama|music|musical                          jersey boys

    title_year language country       budget  imdb_score  \
0         2013  english     usa  100000000.0         8.2
1         2013  english     usa  200000000.0         7.2
2         2015  english     usa   44000000.0         7.9
3         2011  english     usa   14000000.0         6.5
4         2013  english     usa  225000000.0         7.9
..         ...      ...     ...          ...         ...
93        2012  english     usa  125000000.0         6.7
94        2013  english     usa   20000000.0         8.1
96        2013  english     usa   55000000.0         7.9
97        2014  english     usa   68000000.0         7.6
98        2014  english     usa   40000000.0         6.9

                                               actors  movie_facebook_likes  \
0   leonardo dicaprio,matthew mcconaughey,jon favreau                138000
1           robert downey jr.,jon favreau,don cheadle                 95000
2           craig stark,jennifer jason leigh,zoë bell                114000
3         matt damon,kieran culkin,john gallagher jr.                     0
4               aidan turner,adam brown,james nesbitt                 83000
..                                                ...                   ...
93              jeremy renner,scott glenn,stacy keach                 31000
94       quvenzhané wallis,scoot mcnairy,taran killam                 83000
96             tom hanks,chris mulkey,michael chernus                 65000
97                 brad pitt,logan lerman,jim parrack                 82000
98      johnny cannizzaro,steve schirripa,scott vance                 16000

     genres_1   genres_2  genres_3  genres_4 genres_5
0   biography     comedy     crime     drama     None
1      action  adventure    sci-fi      None     None
2       crime      drama   mystery  thriller  western
3       drama       None      None      None     None
4   adventure    fantasy      None      None     None
..        ...        ...       ...       ...      ...
93     action  adventure  thriller      None     None
94  biography      drama   history      None     None
96  biography      drama  thriller      None     None
97     action      drama       war      None     None
98  biography      drama     music   musical     None

[86 rows x 18 columns]

In [56]:
df.to_csv("/content/movie_dataset_cleaned_revisi.csv", index=False)